*{
    background-color: rgb(234,245,34);
}h1{
    color: red;
    text-align: center;
}
.sri{
    height: 100px;
    width: 100px;
}
#hari{
    color: blue;
    font-size: large;
    font-size: larger;
}